In [1]:
import pandas as pd

data = pd.read_csv("kommune_clean.csv")
data.head()

data = data.drop("Unnamed: 0",axis=1) #remove this column that was added when I saved the file

In [2]:
data.shape

(3359, 96)

In [3]:
data.head()

,Spraak,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,...,Kommunestr,Fylke,Q49a,Sentralitet,Q57a,Q58a,Q63a,Q67a,Q53a,Q54a
0,1.0,4.0,3.0,4.0,6.0,6.0,6.0,6.0,4.0,6.0,...,3.0,18,2.0,3.0,5.0,0.0,4.0,9999.0,4.0,2.0
1,1.0,5.0,3.0,3.0,6.0,4.0,6.0,4.0,5.0,6.0,...,3.0,18,5.0,3.0,3.0,0.0,4.0,2.0,2.0,0.0
2,1.0,7.0,6.0,6.0,6.0,6.0,4.0,5.0,8.0,6.0,...,3.0,1,5.0,4.0,4.0,0.0,4.0,1.0,2.0,0.0
3,1.0,6.0,6.0,3.0,3.0,2.0,2.0,2.0,4.0,6.0,...,3.0,6,4.0,4.0,1.0,2.0,3.0,1.0,4.0,2.0
4,1.0,4.0,7.0,6.0,5.0,5.0,5.0,1.0,6.0,5.0,...,1.0,18,NaN,2.0,1.0,2.0,4.0,NaN,5.0,2.0

In [4]:
# Features where 1-7 have numerical meaning, and value 8 means "i dont know", hence doesnt have numerical meaning.
numerical_8 = ["Q1_natur_kom_1","Q1_natur_kom_2","Q1_natur_kom_3","Q1_kultur_kom_1",
                     "Q1_kultur_kom_2","Q1_kultur_kom_3","Q1_kultur_kom_4","Q1_kultur_kom_5",
                     "Q1_kultur_kom_6","Q1_kultur_kom_7","Q1_arbeid_kom_1","Q1_arbeid_kom_2",
                     "Q1_arbeid_kom_3","Q1_samferdsel_kom_1","Q1_samferdsel_kom_2","Q1_samferdsel_kom_3",
                     "Q1_samferdsel_kom_4","Q1_samferdsel_kom_5", "Q1_samferdsel_kom_6", "Q1_renovasjon_kom_1",
                     "Q1_renovasjon_kom_2","Q2_1","Q3_1","Q3_2","Q3_3", "Q3_4", "Q3_5","Q9_1",
                     "Q9_2","Q9_3","Q9_4","Q9_5","Q9_6","Q9_8","Q9_9","Q9_10","Q9_11",
                     "Q11_1","Q13_1","Q14_1","Q19_1","Q19_2","Q66a_1"]

# Features where 1-7 have numerical meaning, and value 9999 means "i dont know", hence doesnt have numerical meaning.
numerical_7_9999 = ['Q5_1', 'Q6_1', 'Q7_1', 'Q10_1'] 

# Features where all have numerical meaning
numerical = ['Q53a', 'Q54a'] 

# Boolean features but with a value 2 meaning "I dont know"
bool_unsure = ['Q15_1', 'Q15_2', 'Q15_3', 'Q15_4', 'Q18']

# Categorical features that needs to be one-hot encoded
categorical_one_hot_encode = ['Spraak', 'Q57a', 'Q46a', 'Q48a', 'Q52a', 'Q60a', 'Q58a', 'Q62a', 'Q56a', 'Fylke']

# Categorical features, but these hold numerical meaning. Need to remove the "I dont know" values
categorical_remove_unsure = ['Q61a','Q63a','Q67a']

# Boolean features
boolean = ['Q55a_1', 'Q55a_2', 'Q55a_3', 'Q55a_4', 'Q55a_9', 'Q64a_1', 'Q64a_2', 'Q64a_3', 
           'Q64a_4', 'Q64a_5', 'Q64a_6', 'Q64a_7', 'Q64a_8', 'Q64a_9', 'Q65a_1', 'Q65a_2', 
           'Q65a_3', 'Q65a_4', 'Q65a_5', 'Q65a_6', 'Q65ana', 'Q68a']

### One-hot-encoding

https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

In [5]:
for var in categorical_one_hot_encode:
    data = pd.get_dummies(data=data, columns=[var], prefix=var)

In [6]:
data.head(10)

,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,Q1_kultur_kom_7,...,Fylke_9,Fylke_10,Fylke_11,Fylke_12,Fylke_14,Fylke_15,Fylke_18,Fylke_19,Fylke_20,Fylke_50
0,4.0,3.0,4.0,6.0,6.0,6.0,6.0,4.0,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
1,5.0,3.0,3.0,6.0,4.0,6.0,4.0,5.0,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
2,7.0,6.0,6.0,6.0,6.0,4.0,5.0,8.0,6.0,6.0,...,0,0,0,0,0,0,0,0,0,0
3,6.0,6.0,3.0,3.0,2.0,2.0,2.0,4.0,6.0,5.0,...,0,0,0,0,0,0,0,0,0,0
4,4.0,7.0,6.0,5.0,5.0,5.0,1.0,6.0,5.0,6.0,...,0,0,0,0,0,0,1,0,0,0
5,7.0,7.0,7.0,6.0,6.0,5.0,5.0,5.0,5.0,6.0,...,0,0,0,1,0,0,0,0,0,0
6,7.0,7.0,7.0,6.0,8.0,4.0,4.0,4.0,4.0,5.0,...,0,0,0,0,0,0,0,0,0,0
7,6.0,2.0,6.0,2.0,2.0,6.0,6.0,4.0,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8,4.0,6.0,5.0,8.0,3.0,3.0,2.0,3.0,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0
9,7.0,7.0,7.0,7.0,7.0,6.0,4.0,7.0,7.0,7.0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
data.shape

(3359, 149)

Feature imputation: 
https://scikit-learn.org/stable/modules/impute.html#impute

## Unvariate feature imputation

https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html#sklearn.impute.SimpleImputer

In [8]:
import numpy as np
from sklearn.impute import SimpleImputer

### For 1-8 vars where I want to remove the 8 values

#### Using median

In [9]:
data_unvariate = data.copy()

In [10]:
data_unvariate[numerical_7_9999] = data_unvariate[numerical_7_9999].replace(9999.0, np.NaN)
data_unvariate[numerical_8] = data_unvariate[numerical_8].replace(8.0, np.NaN)
data_unvariate[bool_unsure] = data_unvariate[bool_unsure].replace(3.0, np.NaN)
data_unvariate['Q61a'] = data_unvariate['Q61a'].replace(9.0, np.NaN)
data_unvariate['Q63a'] = data_unvariate['Q63a'].replace(5.0, np.NaN)
data_unvariate['Q67a'] = data_unvariate['Q67a'].replace(9999.0, np.NaN)

In [11]:
imp = SimpleImputer(missing_values=np.nan, strategy='median')
median_nan = imp.fit_transform(data_unvariate[numerical_8+numerical_7_9999+bool_unsure+categorical_remove_unsure])

In [12]:
data_unvariate = data.copy()
data_unvariate[numerical_8+numerical_7_9999+bool_unsure+categorical_remove_unsure] = median_nan
pd.DataFrame(data_unvariate).head(10)

,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,Q1_kultur_kom_7,...,Fylke_9,Fylke_10,Fylke_11,Fylke_12,Fylke_14,Fylke_15,Fylke_18,Fylke_19,Fylke_20,Fylke_50
0,4.0,3.0,4.0,6.0,6.0,6.0,6.0,4.0,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
1,5.0,3.0,3.0,6.0,4.0,6.0,4.0,5.0,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
2,7.0,6.0,6.0,6.0,6.0,4.0,5.0,6.0,6.0,6.0,...,0,0,0,0,0,0,0,0,0,0
3,6.0,6.0,3.0,3.0,2.0,2.0,2.0,4.0,6.0,5.0,...,0,0,0,0,0,0,0,0,0,0
4,4.0,7.0,6.0,5.0,5.0,5.0,1.0,6.0,5.0,6.0,...,0,0,0,0,0,0,1,0,0,0
5,7.0,7.0,7.0,6.0,6.0,5.0,5.0,5.0,5.0,6.0,...,0,0,0,1,0,0,0,0,0,0
6,7.0,7.0,7.0,6.0,6.0,4.0,4.0,4.0,4.0,5.0,...,0,0,0,0,0,0,0,0,0,0
7,6.0,2.0,6.0,2.0,2.0,6.0,6.0,4.0,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8,4.0,6.0,5.0,6.0,3.0,3.0,2.0,3.0,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0
9,7.0,7.0,7.0,7.0,7.0,6.0,4.0,7.0,7.0,7.0,...,0,0,0,0,0,0,1,0,0,0

In [13]:
data_unvariate.shape

(3359, 149)

In [14]:
data_unvariate.to_csv("kommune_unvariate.csv")

## Multivariate feature imputation

https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html#sklearn.impute.IterativeImputer

In [15]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [16]:
data[numerical_7_9999] = data[numerical_7_9999].replace(9999.0, np.NaN)
data[numerical_8] = data[numerical_8].replace(8.0, np.NaN)
data[bool_unsure] = data[bool_unsure].replace(3.0, np.NaN)
data['Q61a'] = data['Q61a'].replace(9.0, np.NaN)
data['Q63a'] = data['Q63a'].replace(5.0, np.NaN)
data['Q67a'] = data['Q67a'].replace(9999.0, np.NaN)

In [17]:
imp = IterativeImputer(missing_values=np.nan, max_iter=10, random_state=0)
multivariate_nan = imp.fit_transform(data[numerical_8+numerical_7_9999+bool_unsure+categorical_remove_unsure])

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

In [18]:
data_multivariate = data.copy()
data_multivariate[numerical_8+numerical_7_9999+bool_unsure+categorical_remove_unsure] = multivariate_nan
pd.DataFrame(data_multivariate).head(10)

,Q1_natur_kom_1,Q1_natur_kom_2,Q1_natur_kom_3,Q1_kultur_kom_1,Q1_kultur_kom_2,Q1_kultur_kom_3,Q1_kultur_kom_4,Q1_kultur_kom_5,Q1_kultur_kom_6,Q1_kultur_kom_7,...,Fylke_9,Fylke_10,Fylke_11,Fylke_12,Fylke_14,Fylke_15,Fylke_18,Fylke_19,Fylke_20,Fylke_50
0,4.0,3.0,4.0,6.00000,6.000000,6.0,6.0,4.000000,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
1,5.0,3.0,3.0,6.00000,4.000000,6.0,4.0,5.000000,6.0,6.0,...,0,0,0,0,0,0,1,0,0,0
2,7.0,6.0,6.0,6.00000,6.000000,4.0,5.0,5.999987,6.0,6.0,...,0,0,0,0,0,0,0,0,0,0
3,6.0,6.0,3.0,3.00000,2.000000,2.0,2.0,4.000000,6.0,5.0,...,0,0,0,0,0,0,0,0,0,0
4,4.0,7.0,6.0,5.00000,5.000000,5.0,1.0,6.000000,5.0,6.0,...,0,0,0,0,0,0,1,0,0,0
5,7.0,7.0,7.0,6.00000,6.000000,5.0,5.0,5.000000,5.0,6.0,...,0,0,0,1,0,0,0,0,0,0
6,7.0,7.0,7.0,6.00000,5.735586,4.0,4.0,4.000000,4.0,5.0,...,0,0,0,0,0,0,0,0,0,0
7,6.0,2.0,6.0,2.00000,2.000000,6.0,6.0,4.000000,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0
8,4.0,6.0,5.0,2.85403,3.000000,3.0,2.0,3.000000,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0
9,7.0,7.0,7.0,7.00000,7.000000,6.0,4.0,7.000000,7.0,7.0,...,0,0,0,0,0,0,1,0,0,0

In [19]:
data_multivariate.shape

(3359, 149)

In [20]:
data_multivariate.to_csv("kommune_multivariate.csv")